body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.ui.center.aligned.container {
  margin-top: 4em;
}

p.lead {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  color: #333333;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 2em;
}

.ui.huge.header {
  font-size: 36px;
}

.ui.inverted.menu {
  border-radius: 0;
  flex-wrap: wrap;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}

.ui.inverted.menu .item {
  color: rgb(157, 157, 157);
  font-size: 16px;
}

.ui.inverted.menu .active.item {
  background-color: #080808;
}

.DateInput_input {
  height: 100%;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.SingleDatePicker_picker {
  z-index: 200;
}

.DateInput {
  width: 130px;
}
/* 
.ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
  width: 30%;
} */